In [44]:
import pandas as pd

# Lê o arquivo CSV
df = pd.read_csv("https://drive.google.com/uc?export=download&id=1XGfI3-bh1FqDYE394HfnQ1BrasB9-doC")

# Converte a vírgula para ponto, se necessário (caso os valores estejam como '1,75')
df['Altura'] = df['Altura'].astype(str).str.replace(',', '.').astype(float)

# Converte de metros para centímetros
df['Altura_cm'] = df['Altura'] * 100

# Arredonda para inteiro, se desejar
df['Altura_cm'] = df['Altura_cm'].round().astype(int)

# Exibe o resultado

d1 = df["Altura_cm"].std()
d2 = df["Altura_cm"].var()
d3 = df["Altura_cm"].max()-df["Altura_cm"].min()

print(d1)
print(d2)
print(d3)

7.168604389202189
51.388888888888886
21